* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    font-size: 25px;
}

.contacto {
    color: white;
}

.textocont {
    color: black;
}

.portafolio {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(rgb(132, 202, 245) 15vh, rgb(99, 60, 145));
    max-width: 100%;
}

.presentacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    padding-top: 133px;
    margin: auto;
}

.foto,
.descricion {
    max-width: 70%;
    border-radius: 10px;
    margin: auto;
    background: linear-gradient(rgb(132, 202, 245) 15vh, rgb(99, 60, 145));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto img {
    width: 90%;
    height: auto;
}

p {
    font-size: 25px;
}

.intuitivo {
    margin-top: 133px;
}

.trabajos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 10px;
    background: linear-gradient(rgb(132, 202, 245) 20vh, rgb(99, 60, 145));
}

.primero {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.programador {
    width: 230px;
}

.factura {
    width: 259px;
}

.calendario {
    width: 203px;
}

.formulario {
    width: 190px;
}

.presupuesto {
    width: 230px;
}

.enproceso {
    width: 190px;
}

@media (max-width: 1499px) {
    h1 {
        font-size: 195px;
    }

    .programador {
        width: 230px;
    }

    .factura {
        width: 259px;
    }

    .calendario {
        width: 203px;
    }
}

@media (max-width: 1399px) {
    h1 {
        font-size: 180px;
    }

    h2 {
        font-size: 30px;
    }

    .programador {
        width: 222px;
    }

    .factura {
        width: 251px;
    }

    .calendario {
        width: 196px;
    }

    .formulario {
        width: 187px;
    }

    .trabajos {
        grid-template-columns: repeat(2, 1fr);
    }

    .container {
        margin-top: 0;
    }
}

@media (max-width: 1299px) {
    h1 {
        font-size: 165px;
    }
}

@media (max-width: 1199px) {
    h1 {
        font-size: 148px;
    }
}

@media (max-width: 1099px) {
    h1 {
        font-size: 128px;
    }
}

@media (max-width: 999px) {
    h1 {
        font-size: 108px;
    }
}

@media (max-width: 830px) {
    h1 {
        font-size: 88px;
    }

    .programador {
        width: 192px;
    }

    .factura {
        width: 220px;
    }

    .calendario {
        width: 166px;
    }

    .formulario {
        width: 160px;
    }
}

@media (max-width: 760px) {
    h1 {
        font-size: 78px;
    }

    .portafolio {
        background: linear-gradient(rgb(91, 180, 235) 10vh, rgb(29, 1, 61));
    }

    .trabajos {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 68px;
    }
}

@media (max-width: 560px) {
    h1 {
        font-size: 58px;
    }

    * {
        margin: 0;
    }

    .portafolio {
        background: linear-gradient(rgb(91, 180, 235) 5vh, rgb(29, 1, 61));
    }
}

@media (max-width: 560px) {
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 25px;
    }

    .programador {
        width: 172px;
    }

    .factura {
        width: 200px;
    }

    .calendario {
        width: 146px;
    }

    .formulario {
        width: 140px;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 38px;
    }
}

@media (max-width: 300px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 17px;
    }

    .programador {
        width: 152px;
    }

    .factura {
        width: 180px;
    }

    .calendario {
        width: 126px;
    }

    .formulario {
        width: 120px;
    }
}

@media (max-width: 270px) {
    h1 {
        font-size: 26px;
    }

    .programador {
        width: 132px;
    }

    .factura {
        width: 160px;
    }

    .calendario {
        width: 106px;
    }

    .formulario {
        width: 100px;
    }

    * {
        padding: 1px;
    }
}