* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    font-size: 25px;
}

p {
    font-size: 25px;
}

.portafolio {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(rgb(132, 202, 245), rgb(99, 60, 145));
    max-width: 100%;
}

.presentacion {
    display: grid;
    max-width: 100%;
    padding-top: 77px;
}

.descricion {
    max-width: 100%;
    border-radius: 10px;
    margin: auto;
    background: linear-gradient(rgb(132, 202, 245), rgb(99, 60, 145));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto {
    color: white;
}

.textocont {
    color: black;
}

.intuitivo {
    margin-top: 77px;
}

.trabajos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 10px;
    background: linear-gradient(rgb(132, 202, 245), rgb(99, 60, 145));
}

.primero {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.programador {
    width: 230px;
}

.factura {
    width: 259px;
}

.calendario {
    width: 203px;
}

.formulario {
    width: 190px;
}

.presupuesto {
    width: 230px;
}

.enproceso {
    width: 190px;
}

@media (max-width: 1399px) {

    h2 {
        font-size: 30px;
    }

    .programador {
        width: 200px;
    }

    .factura {
        width: 229px;
    }

    .calendario {
        width: 173px;
    }

    .formulario {
        width: 160px;
    }

    .presupuesto {
        width: 200px;
    }

    .enproceso {
        width: 160px;
    }

    a {
        font-size: 17px;
    }

    p {
        font-size: 17px;
    }
}

@media (max-width: 1099px) {
    h1 {
        font-size: 77px;
    }

    a {
        font-size: 15px;
    }

    p {
        font-size: 15px;
    }

    h2 {
        font-size: 25px;
    }

    .programador {
        width: 170px;
    }

    .factura {
        width: 199px;
    }

    .calendario {
        width: 143px;
    }

    .formulario {
        width: 130px;
    }

    .presupuesto {
        width: 200px;
    }

    .enproceso {
        width: 130px;
    }
}

@media (max-width: 971px) {
    h1 {
        font-size: 50px;
    }

    .presentacion {
        padding-top: 47px;
    }

    .intuitivo {
        margin-top: 47px;
    }

    .trabajos {
        grid-template-columns: 1fr;
        background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    }

    .primero {
        border-radius: 10px;
        background: linear-gradient(rgb(132, 202, 245) , rgb(99, 60, 145));
    }

    .portafolio {
        background: linear-gradient(rgb(132, 202, 245), rgb(99, 60, 145));
    }

    * {
        margin: 0px;
    }

    .trabajos {
        gap: 10px;
    }

    .presupuesto {
        width: 220px;
    }

    .programador {
        width: 150px;
    }

    .factura {
        width: 179px;
    }
}

@media (max-width: 830px) {
    .presentacion {
        padding-top: 27px;
    }

    .intuitivo {
        margin-top: 27px;
    }

    .calendario {
        width: 133px;
    }

    .formulario {
        width: 120px;
    }

    .enproceso {
        width: 120px;
    }

    .programador {
        width: 140px;
    }

    .factura {
        width: 169px;
    }
}


@media (max-width: 786px) {
    .portafolio {
        background: linear-gradient(rgb(91, 180, 235), rgb(29, 1, 61));
    }
    .programador {
        width: 130px;
    }

    .factura {
        width: 179px;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 33px;
    }
}

@media (max-width: 560px) {
    .calendario {
        width: 123px;
    }

    .formulario {
        width: 110px;
    }

    .enproceso {
        width: 110px;
    }

    .presupuesto {
        width: 210px;
    }
}

@media (max-width: 505px) {
    .programador {
        width: 120px;
    }

    .factura {
        width: 149px;
    }

    .intuitivo {
        margin-top: 17px;
    }
}

@media (max-width: 417px) {

    a {
        font-size: 13px;
    }

    p {
        font-size: 13px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 17px;
    }
}

@media (max-width: 340px) {
    .formulario {
        width: 90px;
    }

    .enproceso {
        width: 90px;
    }

    .presupuesto {
        width: 190px;
    }
}

@media (max-width: 311px) {
    .formulario {
        width: 70px;
    }

    .enproceso {
        width: 70px;
    }

    .presupuesto {
        width: 130px;
    }

    .calendario {
        width: 93px;
    }

    .programador {
        width: 89px;
    }

    .factura {
        width: 109px;
    }
}

@media (max-width: 260px) {
    .formulario {
        width: 50px;
    }

    .enproceso {
        width: 50px;
    }

    .presupuesto {
        width: 110px;
    }
}